marshmallow==2.16.1
torch==1.2.0+cu92
SQLAlchemy==1.2.12
Flask_Cors==3.0.7
Flask_Login==0.4.1
Flask_Migrate==2.3.0
Flask_HTTPAuth==3.2.4
marshmallow_enum==1.4.1
numpy==1.15.4
passlib==1.7.1
Flask==1.0.2
requests==2.21.0
flask_marshmallow==0.9.0
alembic==1.0.1
Flask_SQLAlchemy==2.3.2
Flask_RESTful==0.3.6
itsdangerous==1.1.0
torchvision==0.4.0+cu92
imgaug==0.3.0
Click==7.0
Pillow==6.2.1
PyJWT==1.7.1
python_dateutil==2.8.1
